body{
    background-color: #F9F9F9 !important;
}

a{
    color: inherit !important;
    /* text-decoration: none !important; */
}

h1{
    font-weight: bold !important;
}


/* Page ADD CATEGORY */
.section-add-category{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 5vw ;
}

.section-add-category form{
    border: 1px solid #f1f1f1;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px 80px;
    background-color: #FFF;
}

.alert-message{
    color: red;
}
.addToBdd-message{
    color: green;
}

/* Page LIST CATEGORY */

.section-list-category{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 5vw ;
}

.section-list-category .col-add-cat{
display: flex;
justify-content: flex-end;
align-items: center;
}

.div-table {
    border: 1px solid #f1f1f1;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px 80px;
    background-color: #FFF;
}
