/******************************************************************/
/************************** DASHBOARD *****************************/
/******************************************************************/
body{
    background-color: #F9F9F9 !important;
}

.header-dashboard {
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.main-dashboard {
    margin-left: 25%; /* Ajustez la largeur de la colonne de gauche en fonction de vos besoins */
    height: 100%;
    overflow-y: auto;
}

h1{
    font-weight: bold !important;
}

/* .nav-link.active{
    background-color: #ee6b4b!important;
} */

.listNames::first-letter{
    text-transform: capitalize;
}

.section-add-vehicle .listNames::first-letter{
    text-transform: capitalize;
}

/* Page ADD CATEGORY - ADD VEHICLE */
.section-add-category,
.section-add-vehicle{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 5vw ;
}

.section-add-category form,
.section-add-vehicle form{
    border: 1px solid #f1f1f1;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px 80px;
    background-color: #FFF;
}

.section-add-category form label,
.section-add-vehicle form label{
    font-weight: bold;

}

.section-add-vehicle form .row{
    margin-bottom: 30px;
}
.section-add-vehicle form .row:last-child{
    margin-top: -30px;
}

.alert-message{
    color: red;
}
.addToBdd-message{
    color: green;
}

/* Page LIST CATEGORY */

.section-list-category{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10vw 5vw ;
}

.section-list-category .col-add-cat{
display: flex;
justify-content: flex-end;
align-items: center;
}

.div-table {
    border: 1px solid #f1f1f1;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 30px 80px;
    background-color: #FFF;
}


.vehicle-img{
    height: 50px; 
    width: 100px;
    object-fit: cover;
}





/******************************************************************/
/************************** FRONT *********************************/
/******************************************************************/

.header{
    background-color: #F1F1F1;
    padding: 5px 0;
}

.navbar-brand img{
    height: 65px;
}

.card{
    border: 1px solid #f1f1f1 !important;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #FFF;
}

